$color_green: #59b586;
$color_background: #fbf9f9;
$color_white: #ffffff;
$color_red: #d64146;
$color_yellow: #febf01;
$color_lightgrey: #afafaf;
$color_topnav: #202020;
$color_topnav_text: #898989;
$color_topnav_border: #2b2b2b;
$color_banner_text: #7d7d7d;
$color_banner_search: #c2c2c2;
$color_banner_search_border: #ebebeb;
$color_banner_cart: #202020;
$color_nav: #3fb871;
$color_nav_hover: #36a66d;
$color_product_border: #e1e1e1;
$color_product_hover: #b9b9b9;
$color_product_title: #555555;
$color_price: #ed1c24;
$color_price_cross: #959595;
$color_price_title: #555555;
$color_rate: #febf01;
$color_footer: #313131;
$color_footer_text: #b7b7b7;
$color_footer_border: #494949;
$color_copyright: #434343;
$color_greensidebar:#98cb4a;
$color_redsidebar:#f76d3c;
$color_purple:#913ccd;
$color_yellowsidebar:#f7d842;
$color_pink:#f15f74;
$color_blue:#5481e6;
