mixin small-news(img, article)
  .smallnews
    .smallnews__tab
      .smallnews__index
        a.smallnews__link(href="")
          img.smallnews__img(src=img, alt="")
          h6.smallnews__title
            | #{article}
