mixin head(data, is_main_page)
  head
    title Description
    meta(charset='utf-8')
    meta(name='description', content='Description')
    meta(name='keywords', content='Description')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='css/main.css')
